[submodule "mixins"]
	path = mixins
	url = https://github.com/Areskul/mixins.git
[submodule "scss"]
	path = scss
	url = https://github.com/Areskul/scss.git
[submodule "minimal-border"]
	path = minimal-border
	url = https://github.com/Areskul/minimal-border.git
[submodule "minimal-elevation"]
	path = minimal-elevation
	url = https://github.com/Areskul/minimal-elevation.git
[submodule "minimal-palette"]
	path = minimal-palette
	url = https://github.com/Areskul/minimal-palette.git
[submodule "minimal-grid"]
	path = minimal-grid
	url = https://github.com/Areskul/minimal-grid.git
